/******************************** GENERAL STYLES ********************************/

@font-face {
	font-family: 'Tuffy'; 
		src:url('../fonts/Tuffy/Tuffy.ttf') format('truetype');				
}
@font-face {
	font-family: 'Tuffy_Bold'; 
		src: url('../fonts/Tuffy/Tuffy_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Basic title'; 
		src: url('../fonts/basictitlefont.ttf') format('truetype');
}

body {
	/*background-color: #F0E8E8;*/
	background-color: #E5E5E5;
	text-align: center;
	font-family: 'Basic title', sans-serif;
	font-size: 24px;
}

a {
	text-decoration: none;
	color: #000000;
}

ul, li {
	list-style: none;
}

h1 {
	font-size: 62px;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	z-index: 500;
}

section {
	height: 1500px;
}

nav {
	width: 390px;
	height: 81px;
	padding-right: 50px;
	float: right;
	z-index: 10;
	display: none;
}

nav li {
	float: right;
	width: 70px;
	padding: 30px;
	font-size: 26px;
}

nav li a:hover {
	color: #D9D9D9;
}

.border {
	background-color: white;
	position: fixed;
	z-index: 1000;
}

#left {
	left: 0;
	top: 0;
	bottom: 0;
	width: 16px;
}

#right {
	right: 0;
	top: 0;
	bottom: 0;
	width: 16px;
}

#top {
	left: 0;
	right: 0;
	top: 0;
	height: 16px;
}

#bottom {
	left: 0;
	right: 0;
	bottom: 0;
	height: 16px;
}

/******************************** HOME ********************************/

#bg {
	background: url('../images/jelly.jpg') no-repeat center;
	background-size: 100%;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	z-index: -2;
}

#home {
	height: 600px;
	margin-bottom: 250px;
  color: black;
  /*text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;*/
}

.intro {
	background-color: rgba(255, 255, 255, 1);
		-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	width: 400px;
	margin: 200px auto 0;
	padding: 80px;
	top: 0;
/*	font-size: 24px;*/
	z-index: -1;
	display: none;
}

/******************************** WORK ********************************/

.work_container {
	margin-top: 500px;
	padding-right: 100px;
	text-align: right;
}

.work_container img {
	border: 3px solid #A8A8A8;
	top: 0;
	position: relative;
}

#image_b {
	margin-right: 100px;
}

#image_c {
	margin-right: 200px;
}

#image_f {
	margin-right: -40px; 
}

#image_e {
	margin-right: 100px;
}

/******************************** ABOUT ********************************/

#about {
	height: 800px;
	clear: both;
}

#about_container {
	padding: 200px 100px; 
}

/******************************** CONTACT ********************************/

#contact {
	height: 350px;
	clear: both;
}

#contact_container {
	padding: 150px 0; 
}


#photo {
	background: url(../images/baxme.png) no-repeat 0 0;
	border-radius: 50%;
	border: 4px solid white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1);
	width: 296px;
	height: 296px;
    text-indent: -9999em;
	margin: 50px auto 10px;

}
	#photo:hover {
		background: url(../images/baxme.png) no-repeat 0 -367px;
	}
